body{
	background:#8B7B8B;
    height:75%;
    width:100%;
  }/*ajout fond de couleur*/

header {
  max-width: 100%;
}


.entete
{
text-align: center;

}/*centrer mon entete*/
p{
  text-align: center
}/*paragraphe*/
p{
font-size: 20px; /* Paragraphes de 20 pixels */
}
